*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    overflow:hidden;
    display: flex;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*SIDEBAR*/
    .sidebar {
        width: 200px;
        height: calc(100vh - 100px);
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .logo {
        width: 60%;
        margin: 20px 0;
    }

    .logo-small {
        width: 0;
    }

    .home-li {
        width: 10%;
    }

    .play-list ul li {
        list-style: none;
        color: lightgray;
        font-size: 14px;
    }

    .home-li {
        display: inline-block;
        margin: 3px 0;
    }

    .col-one {
        height: 80px;
    }

    .col-two {
        height: 100px;
    }

    .col-three {
        height: 200px;
        overflow-y: auto;
    }

    .col-four {
        justify-self: end;
        min-height: 50px;
        background-color: black;
    }

    .doe {
        width: 10%;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: grey;
        padding: 1px;
    }

    .content {
        width: calc(100% - 200px);
    }

    header {
        height: 80px;
        margin-top: 0;
        margin-left: 0;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .upgrade {
        margin: 20px 20px 0 0;
        background-color: black;
        color: white;
        border: 1px solid white;
        padding: 10px 30px;
        border-radius: 30px;
        position: fixed;
        top: 0;
        right: 0;
    }

/*SEZIONE ARTISTI CON SCROLL*/

    .main-content {
        height: calc(100vh - 180px);
        overflow-y: scroll;
        background-color: rgb(29, 29, 34);
    }

    nav {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .nav-header li, .play-list li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        color: lightgrey;
        font-size: 14px;
    }

    h2 {
        display: block;
        padding: 20px 10px;
    }

    .recently-played, .john, .artisti {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    .recently-played {
        justify-content: space-around;
    }

    .album {
        margin-left: 3px;
    }

    .john  img {
        margin-left: 10px;
    }

    .john, .artisti {
        justify-items: flex-start;
    }
    .album img {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: space-around;
    }

    .young img, .einaudi img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 10px;
    }


 @media screen and (max-width: 700px) {
    .john, .artisti {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    main {
        max-width: 100%;
    }

    .content {
        width: 100%;
    }

    .sidebar {
        width: 50px;
        background-color: black;
    }

    .col-one {
        height: 35px;
    }

    .logo {
        width: 0;
    }

    .logo-small {
        width: 80%;
        margin-top: -35px;
        margin-left: -10px;
        margin-bottom: -10px;
    }

    .play-list ul li {
        display: none;
    }

    .home-li {
        width: 80%;
        margin-left: -10px;
        margin-right: 10px;
    }

    .doe {
        width: 100%;
    }

    p {
        font-size: 0;
    }

    span {
        font-size: 0;
    }

    header {
        width: 100%;
    }
}
 
/*FOOTER*/
footer {
    height: 100px;
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: space-between;
}

.footer-col-left, .footer-col-right {
    width: 274px;
    background-color: rgb(43, 41, 41);
}

.footer-col-left img {
    width: 50px;
    height: 50px;
    margin: 15px 0 15px 15px;
}

/*.footer-col-left::before {
    content: "";
    display: table;
    clear: both;
}

.footer-col-left img, .small-title {
    float: left;
    margin: 15px 0 15px 5px;
}*/

.footer-col-left {
    display: flex;
    align-items: center;
}

.small-title {
    margin: 15px 0 15px 5px;
}

.play {
    display: inline-block;
}

hr {
    font-size: 3px;
    width: 50px;
}



