*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.sidebar {
    width: calc(100%/6);
    height: calc(100vh - 100px);
    background-color: bisque;
}

.content {
    width: calc((100%/6)*5);
}

header {
    height: 100px;
    margin-top: 0;
    margin-left: 0;
    background-color: brown;
}

.main-content {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    background-color: chocolate;
}

nav {
    text-align: center;
    padding: 10px;
}

.nav-header li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.recently-played, .john, .artisti {
    display: flex;
}
footer {
    height: 100px;
    background-color: blanchedalmond;
}